body{
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr;
	background-color: #BDBB9E;
	font-family: monospace;
	font-size: large;
	color: rgba(0, 0, 0, 0.9);

}

a{
	color: rgba(0, 0, 0, 0.9);
	text-decoration: none;
	transition: 0.4s;
}

a:hover{
	color: #BDBB9E;
}

a:active{
	color: #BDBB9E;
}







.header-container{
	display: flex;
	background-color: #6d6b52;
	padding: 5px;
	height: 15vh;
	font-size: 20px;
	align-items: center;
	justify-content: center;

}

.content-header{
	display: grid;
	grid-gap: 2em;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	max-width: 50em;
	
}

.content-header > *{

	justify-content: space-between;

}

.header-container > *{
	max-width: 50em;
	
}

.gothiapic > img{
	width: 100%;
	max-width: 50em;
	border-radius: 2%;

	
}

.loggawebb > img{
	width: 100%;
	max-width: 10em;
	border-radius: 2%;
}

.loggawebb{
	display:flex;
}


.gothiapic{
	display: flex;
	justify-content: center;
	box-shadow: 0.3em 0.3em 0.2em #585645;
	margin: 2em 0em;

}


.main-container{
	justify-self: center;
	background-color: #BDBB9E;
	padding: 20px;



}

.main-container > *{
	display: grid;
	justify-content: center;
	text-align: center;
	max-width: 50em;
}

.seminarie-container{
	justify-self: center;
	background-color: #BDBB9E;
	padding: 20px;

}

.seminarie-container >*{
	display: grid;
	justify-content: center;
	text-align: center;
	max-width: 50em;

}


.friday , .saturday , .sunday{
	border: 4px solid #6d6b52;
	border-radius: 2%;
	margin-bottom: 1.5em;
	transition: 0.4s;
	box-shadow: 0.3em 0.3em 0.2em #585645;
	
}

.friday:hover , .saturday:hover , .sunday:hover{
	background-color: #afad99;
}




.footer-container{
	display: grid;
	background-color: #afad99;
	padding: 5px;
	height: 8vh;

}


	

form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px solid black;
	border-radius: 2%;
	margin: 1em 0;
	margin-top: 1em;
	padding: 0.5em;
	background-color: #afad99;
	box-shadow: 0.3em 0.3em 0.2em #585645;
	
	

}

input{
	padding: 0.4em;
	/* margin-bottom: 1em; */
}

#form-food{
	margin-top: 0.5em;
}

button{
	width: 5em;
	justify-self: center;
	margin:0.5em;
	padding:0.5em;
	
}

button:hover{
	background-color: #afad99;
}

#form-name:valid{
	border-right: 1em solid rgb(34, 65, 34);

}

#mail:valid{
	border-right: 1em solid rgb(34, 65, 34);
}

#adress:valid{
	border-right: 1em solid rgb(34, 65, 34);
}

#form-name:invalid{
	border-right: 1em solid rgb(100, 18, 18);

}

#mail:invalid{
	border-right: 1em solid rgb(100, 18, 18);

}

#adress:invalid{
	border-right: 1em solid rgb(100, 18, 18);

}


