body{
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr;
	background-color: #BDBB9E;
	font-family: monospace;
	font-size: large;

}


.header-container{
	display: flex;
	background-color: #6d6b52;
	padding: 5px;
	height: 15vh;
	width: 100wh;
	font-size: 20px;
	align-items: center;
	justify-content: center;

}

.content-header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	max-width: 50em;
	
}

.content-header > *{
	padding: 1em;
	justify-content: space-between;

}

.header-container > *{
	max-width: 50em;


	
}

.gothiapic > img{
	width: 100%;
	max-width: 50em;
	border-radius: 2%;

	
}

.loggawebb > img{
	width: 100%;
	max-width: 8em;
	border-radius: 2%;
}


.gothiapic{
	display: flex;
	justify-content: center;

}


.main-container{
	justify-self: center;
	background-color: #BDBB9E;
	padding: 20px;



}

.main-container > *{
	display: grid;
	justify-content: center;
	text-align: center;
	max-width: 50em;
}

.seminarie-container{
	/* grid-template-columns: 1fr;
	display: grid; */
	/* background-color: #BDBB9E; */
	/* padding: 10px;
	height: flex;
	width: 100wh; */
	justify-self: center;
	background-color: #BDBB9E;
	padding: 20px;

}

.seminarie-container >*{
	/* text-align: center; */
	display: grid;
	justify-content: center;
	text-align: center;
	max-width: 50em;

}




.footer-container{
	display: grid;
	background-color: #afad99;
	padding: 5px;
	height: 8vh;
	width: 100wh;
}
	

form {
	border: 2px solid black;
	margin: 1em 0;
	margin-top: 1em;
	padding: 0.5em;
	background-color: #afad99;

}





/* body{
	margin: 0;
	padding: 0;
	height: 100;
}



header{
	background-color: #9EAF97;
	padding: 0px;

}

main{
	background-color: #BDBB9E;
	flex: 1;
	padding: 20px;
	min-height: 100vh;
}


footer{
	background-color: #D7D0C8;
	padding: 20px;

}

.headergrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 2em 2em 2em;
}

.loggo{
	grid-column: 2;
	grid-row: 2;

} */